:root
{
    --primary: #e7eccb;
    --secondary: #777b63;
    --tertiary: #4d4f44;
}


body 
{
    
    font-family: Pompiere;
    background-color: var(--secondary);
    color: var(--primary);

}

.menu
{
    position:fixed;
    text-align: center;
    background-color: var(--secondary);
    font-weight: bold;
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 10%;
    z-index: 101;
}

.navbar-dark .navbar-nav .nav-link 
{
    color: var(--primary);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover 
{
    color: var(--tertiary);
}

.ArtSecImg
{
    width: 70vh;
    z-index: 100;
}

/*anchor styling*/
a, a:link, a:visited, a:active
{
    color: var(--primary);
}

a:hover
{
  color:var(--tertiary);
  text-decoration: none;
}

.BContainer {
    margin-top: 15%;
    background-image: url(Images/Website_Paper_BG.png), url(Images/paper-bg.jpeg);
    background-position: top, top;
    background-repeat: no-repeat, repeat-y; /* Repeat the second image vertically */
    background-color: var(--secondary);
    /* Additional properties to size the backgrounds */
    background-size: auto, auto; /* Change as necessary */
}

.BContainer a, .BContainer a:link, .BContainer a:visited, .BContainer a:active
{
    color: var(--secondary);
}

.BContainer a:hover
{
  color:var(--tertiary);
  text-decoration: none;
  overflow-x: scroll;
}

.CContainer
{
    margin-top: 5%;
    color: var(--tertiary);
    display: grid;
    place-items: center;
}

.wrap {
    width:500px;
    height: 500px;
    border:1px solid red;
    position:relative;
}
.one {  
    width:100%;height:100%;
    background-image: url(http://dummyimage.com/250x250/dfdbb9/dfdbb9.png);
    background-repeat:no-repeat;
    background-position:left top;
}
.two:after {    
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;   
    background-image:  url(http://dummyimage.com/250x250/b9d9df/b9d9df.png);
    background-repeat:no-repeat;        
    background-position:right bottom;
}